body{
    font-family: 'Roboto', sans-serif;
    color: #65665C;
    font-size: 16px;
    line-height: 1.16;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  img, iframe {
    max-width: 100%;
    height: auto;
  }
  
  a, button {
    color: inherit;
    font-size: inherit;
  }
  
  .container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
